* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --background: #f5f5f5;
  --font: #3e3e3e;

  --red: #dd3434;
  --green: #008037;
  --yellow: #ffdbb3;
  --blue: #335167;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 56.25%;
  }
}

body,
input,
textarea,
button {
  font-family: 'Trocchi', sans-serif;
  font-size: 1.25rem;
}

body {
  max-width: 70rem;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--blue);
}

.highlight-text {
  background-color: var(--blue);
  padding: 1rem 3rem;

  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.25rem;
  color: var(--yellow);
  font-size: 1.5rem;
}

#title {
  line-height: 5rem;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-container {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 2rem;
}

.description-label {
  font-weight: bold;
  margin-left: 1rem;
}

.grades-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  row-gap: 2rem;
}

.feedback {
  flex-flow: column wrap;
  gap: 1rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
